/* Basic Styles */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #333;
}

.home-button {
    position: fixed;
    left: 10px;
    top: 10px;
}

header {
    background-color: aqua;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.overview {
    max-width: 1400px;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 35px;
    padding-right: 35px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    font-size: 30px;
    font-family: monospace;
    border: solid 10px rgb(165, 255, 255);
}

.gallery {
    max-width: 1400px;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 35px;
    padding-right: 35px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    font-size: 18px;
    font-family: monospace;
    border: solid 10px rgb(165, 255, 255);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: black;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}


.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;
    background-color: black;
}

.image-grid img:hover {
    opacity: 0.5;
    cursor: nwse-resize;
}

.video video {
    width: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    
    background-image: url(background1.jpg);
    color: #fff;
    height: 75px;
}

/* Lightbox Background */
#lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* Lightbox Image */
#lightbox img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    height: auto;
    width: auto;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
}

/* Close Button */
#lightbox .close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.p2 {
    font-size: 35px;
    font-weight: bold;
}

.p3::before {
    content: "    >  ";
    color: black;
    font-weight: bold;
    margin-right: 5px;
}